body {
    background-image: url(safari.jpg);
    background-size: cover;
}

h1 {
    color: gray;
    font-family: cursive;
    text-align: center;
    text-shadow: 1px 1px 1px darkturquoise;
}

h2, h3, h4 {
    color: white;
}

#p1 {
    color: navy;
}

#p2 {
    color: green;
}

p a {
    color: #03a9f4;
}

.tacos {
    font-size: 42px;
}

img {
    height: 200px;
    transform: rotate(-5deg);
    border-color: rgb(150, 127, 255);
    border-style: solid;
    border-width: 5px;
}

.jumbotron {
    background-image: url(safari.jpg);
    background-size: cover;
} 